.loginBtn {
  display: block;
  width: 100px;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: rgba(0, 104, 215, 0.5);
  cursor: pointer;
  text-decoration: none;
  margin: 20px;
  transition-duration: 0.2s;
}

.loginBtn:hover {
  background-color: rgba(0, 104, 215, 0.8);
  padding: 8px 20px;
}

.signupLink {
  text-decoration: underline;
  color: #0068d7cc;
  border: none;
  background: none;
  cursor: pointer;
}

.signupLink:hover {
  text-decoration: underline;
  color: #0068d7cc;
  border: none;
  background: none;
  cursor: pointer;
}